<!--# templates/reguser/login.html -->
{% extends "base.html" %}


    {% block pre_create_form %}
        {% if user.is_authenticated %}

            <span class="info_text"> {{ user.username }}?</span><br/><br/>
            <p class="info_text">Вы же уже авторизорваны.</p>
            {# start - дополнительные ссылки формы#}
            <br/><br/>
            <ul>
                <li><a href="{% url 'auth_logout' %}">Выйти</a></li>
                <li><a href="{% url 'home_url_name_space' %}">На главную</a></li>
            </ul>
            {# end - дополнительные ссылки формы#}

        {% endif %}
    {% endblock %}

    {# заголовок формы #}
    {% block header_form_context %}Авторизация{% endblock %}

    {# start - блок создание формы #}
    {% block create_form %}
        {% if not user.is_authenticated %}
            {{ block.super }}
        {% endif %}
    {% endblock %}

    {# кнопка submit формы #}
    {% block button_submit_form_name %}Вход{% endblock %}


    {% block post_create_form %}
        {% if not user.is_authenticated %}

            {# start - дополнительные ссылки формы#}
            <br/><br/>
            <ul>
                <li><a href="{% url 'auth_password_reset' %}">Забыли пароль?</a></li>
                <li><a href="{% url 'registration_register' %}">Регистрация</a></li>
            </ul>
            {# end - дополнительные ссылки формы#}

        {% endif %}
    {% endblock %}

    {# установить фокус на поле формы #}
    {% block set_focus_field_form %}
        {% if not user.is_authenticated %}
            <script type="text/javascript">
                var field_form = document.getElementById('id_username');
                if (typeof (field_form) != 'undefined'){ field_form.focus(); }
            </script>
        {% endif %}
    {% endblock %}
