{% extends "base.html" %}
{#{% load i18n %}#}


{# заголовок формы #}
{% block header_form_context %}Восстановление пароля завершено{% endblock %}

{# заголовок формы #}
{% block info_form_context %}Ваш пароль был сохранен. Теперь вы можете войти.{% endblock %}

{# кнопка submit формы #}
{% block button_submit_form_name %}Изменить пароль{% endblock %}

{% block post_create_form %}
    {# start - дополнительные ссылки формы #}
    <a href="{% url 'auth_login' %}"><input type="button" value="Вход" class="clearfix"></a>
    {# end - дополнительные ссылки формы #}
{% endblock %}

{% block set_focus_field_form %}
    <script type="text/javascript">
        var field_form = document.getElementById('id_old_password');
        if (typeof (field_form) != 'undefined'){ field_form.focus(); }
    </script>
{% endblock %}

