{% extends "base.html" %}
{#{% load i18n %}#}


{# заголовок формы #}
{% block header_form_context %}Изменение пароля{% endblock %}

{# заголовок формы #}
{% block info_form_context %}Пожалуйста, введите свой ​​старый пароль, в целях безопасности,
    а затем введите новый пароль дважды, чтобы мы могли убедиться вы набрали его правильно.{% endblock %}

{# кнопка submit формы #}
{% block button_submit_form_name %}Изменить пароль{% endblock %}

{% block post_create_form %}
    {# start - дополнительные ссылки формы #}
    <br/><br/>
    <ul>
        <li><a href="{% url 'home_url_name_space' %}">Вернуться на домашнюю страницу</a></li>
    </ul>
    {# end - дополнительные ссылки формы #}
{% endblock %}

{% block set_focus_field_form %}
    <script type="text/javascript">
        var field_form = document.getElementById('id_old_password');
        if (typeof (field_form) != 'undefined'){ field_form.focus(); }
    </script>
{% endblock %}
