<!-- registration_complete.html -->
{% extends "base.html" %}


{# заголовок формы #}
{% block header_form_context %}Регистрация{% endblock %}

{# заголовок формы #}
{% block info_form_context %}Мы отправили ссылку для активации Вашей учетной записи на
    адрес электронной почты, который вы указали. Вы должны ее вскоре получить.{% endblock %}

{# кнопка submit формы #}
{% block button_submit_form_name %}Восстановить{% endblock %}

{% block post_create_form %}
    {# start - дополнительные ссылки формы #}
    <a href="{% url 'auth_login' %}"><input type="button" value="Заходите на сайт." class="clearfix" id="button_login"></a>
    {# end - дополнительные ссылки формы #}
{% endblock %}

{% block set_focus_field_form %}
    <script type="text/javascript">
        var field_form = document.getElementById('button_login');
        if (typeof (field_form) != 'undefined'){ field_form.focus(); }
    </script>
{% endblock %}
